.cartbox-maindiv{
    width: 90%;
    height: 25vh;
    background-color: #101116;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.2rem;
    position: relative;
}

.cartbox-maindiv:hover{
    box-shadow:inset 0 0 20px  rgba(255,255,255,0.8); 
}

.cartbox-book-image{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 80%;
}

.cartbox-details{
    width: 40%;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cartbox-details p{
    font-weight: 600;
}

.cart-counter-div{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-counter-div>*{
    height: 2rem;
    width: 2rem;
    margin: 0.1rem;
}

.cart-counter-value{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 0.1rem;
}

.cart-counter-div > button{
    border: none;
    border-radius: 0.1rem;
    font-size: 1.4rem;
    color: white;
}

.cart-counter-increment{
    background-color: green;
}

.cart-counter-remove-btn{
    background-color: red;
}

.cart-counter-increment:hover{
    background-color: rgb(2, 100, 2);
}

.cart-counter-remove-btn:hover{
    background-color: rgb(209, 3, 3);
}

.cartbox-book-image img{
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
}

@media (max-width: 768px) {

    .cartbox-maindiv{
        width: 100%;
    }

    .cartbox-details{
        font-size: 0.8rem;
    }

    .cart-counter-increment{
        display: none;
    }

    .cart-counter-value{
        display: none;
    }

    .cart-counter-div{
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}