*{
    font-family: Outfit;
}

.eContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eTypeContainer{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.typeboxbtn{
    border: none;
    height: 8rem;
    width: 18rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.typeHeading{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    align-self: center;

}

.typeDescription{
    font-size: 0.7rem;
    font-weight: 500;
    align-self: flex-start;
    margin: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    
}

.typeboxbtn:hover{
    transform: scale(1.1);
    box-shadow:inset 0 0 100px  rgba(16, 14, 14, 0.8);
}

.priceInputContainer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.priceInputContainer input{
    border: none;
    height: 2rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.searchBtn{
    border: none;
    height: 3rem;
    width: 12rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    font-weight: 800;
    background-color: green;
    color: white;
}

.searchedBookContainer{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

