*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Outfit;
}

.app{
    min-height: 100vh;
    width:100vw;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    z-index: 100;
    box-sizing: border-box;
}

.container{
    height:60px;
    width:100vw;
    background-color: #101116;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
}

.main{
    width:10vw;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.options{
    height:60px;
    width:30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.link{
    width:6vw;
    height:100%;
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    font-weight: 800;
}

/* .link:hover{
    background:linear-gradient(45deg,pink,rgb(216, 78, 101));
} */

.content{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    min-height:calc(100vh - 60px);
    width:100vw;
    
}

.dashboard{
    width:10vw;
    height:calc(100vh - 60px);
    background-color: #101116;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid white;
    position: fixed;
    left:0;
    top:60px;
    z-index: 100;
}

.dashboard div{
    margin-right: 1px;
    margin-left: 1px;
    width:100%;
    height:3rem;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    box-sizing: border-box;
}

.dashboard div:hover{
    background:linear-gradient(90deg,#DC98D0,#CC1C74,#8C0E44);
}

.component{
    min-height:calc(100vh - 60px);
    width:calc(90vw - 1px);
    background-color: black;
    color:white;
    /* display: flex;
    flex-direction: row; */
    position: absolute;
    top:60px;
    left:10vw;
}

.bookbox{
    height:25vh;
    width:40vw;
    background-color: #101116;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color:white;
    animation: scrollanimate;
    animation-timeline: view() ;
    animation-range: entry 0 cover 30%;
    box-shadow:inset 0 0 10px rgba(255,255,255,0);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

@keyframes scrollanimate {
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}

.bookbox:hover{
    box-shadow:inset 0 0 20px  rgba(255,255,255,0.8);
    
}

.bookimgdiv{
    height:72%;
    width:20%;
    background-color: silver;
    position: relative;
    left:1rem;
    border-radius: 1rem;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.bookimgdiv:hover{
    transform: scale(1.1);
}

.bookdetaildiv{
    width:40%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bookbox button{
    height:2rem;
    width:3vw;
}

.books-container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.imgbuybutton{
    height: 3rem;
    width:5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgbuybutton button{
    height:100%;
    width:100%;
    background-color: green;
    border: none;
    border-radius: 0.4rem;
    color: white;
    font-size: 1rem;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.imgbuybutton button:hover{
    transform: scale(1.1);
}

.signup-box{
    height:100vh;
    width:100vw;
    background: #202E50;
    /* background-color: whitesmoke; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup-main{
    height:60vh;
    width:30vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    color: black;
    box-shadow: 0px 0px 10px 5px rgb(158, 158, 207);
}

.signup-main input{
    width:80%;
    height:3rem;
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
    border:1px solid black;
    box-shadow: 0px 0px 10px 5px rgb(158, 158, 207);
    
}

.signup-main button{
    font-weight: 600;
    height:2.5rem;
    width:6rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 5px rgb(158, 158, 207);
    /* background: linear-gradient(135deg,blue,pink); */
    color:black;
    border: none;
    border:1px solid black;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.signup-main button:hover{
    background-color: rgb(27, 27, 58);
    color: white;
}

.profilediv{
    min-height:calc(100vh - 60px);
    width:90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: black;
}

.profile-main{
    width:80%;
    height:40vh;
    background-color: #101116;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.profile-detail{
    width:80%;
    height:40%;
    background-color: red;
    border-radius: 1rem;
}

.profile-photo{
    margin-left: 1rem;
    height:80%;
    width:30%;
    background-image: url("C:\Users\sadar\Bookify\src\Static\dark-gloomy-books-pages_1084x668.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 1rem;
}

.user-detail{
    width:60%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
}

.user-bookcount{
    height:70%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.bookcount-div{
    height:90%;
    width:25%;
    border-radius: 1rem;
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.bookcount-div:hover{
    background-color: white;
    color:black;
}

.userHistory{
    width:80%;
    height:40vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #101116;
    color:white;
    border-radius: 1rem;
}

.booksolddropdown{
    width:40%;
    display: inline;
    position: relative;
}

.booksolddropdown button{
    margin-top: 2rem;
    height:4rem;
    width:100%;
    background-color: #101116;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    font-weight: 500;
}

.booksolddropdown button:hover{
    background-color: #343748;
}

.booksold-content{
    position: absolute;
    background-color: #101116;
    color: white;
    font-size: 2rem;
    width:100%;
    border-radius: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    height:calc(40vh - 7rem);
    overflow-y: scroll;
}

.booksold-content::-webkit-scrollbar{
    display: none;
}

.booksold-content div{
    width:100%;
    height:2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.booksold-content div:hover{
    background-color: #343748;
}

.options div{
    height:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
 
.options div:hover{
    background:linear-gradient(90deg,#DC98D0 ,#CC1C74 ,#8C0E44 );
    color:black;
}

.home-back{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}

.homepage-main{
    height:100%;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.homepage-main h1{
    color:white;
    text-align: center;
}

.start{
    height:100vh;
    width:100vw;
    background-image: url("C:\Users\sadar\Bookify\src\Static\open-book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.intro{
    height: 70vh;
    width:35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    padding-left: 1rem;
}

.intro div{
    display: flex;
    align-items: center;
}

.intro div h1{
    font-size: 2rem;
    color: black;
}

.types{
    height:70vh;
    width:35vw;
    backdrop-filter: blur(5px);
    font-size: 1.5rem;
    border-radius: 1rem;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.link1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    height:50%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.row div{
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.text-contain{
    height:calc(70vh + 1rem);
    width:35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 1.5rem;
    /* background-color: rgb(117, 81, 81); */
    background-color: whitesmoke;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color:black;
    font-weight: 500;
}



.detail-home{
    margin-top: 3rem;
    width:100vw;
    height:cals(70vh + 1rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color:white;
    
}

.real-fiction{
    border-radius: 1rem;
    background-image: url("C:\Users\sadar\Bookify\src\Static\fictional.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}
.row div{
    margin:1rem;
}

.row div:hover{
    transform: scale(1.1);
}

.real-nonfiction{
    border-radius: 1rem;
    background-image: url("C:\Users\sadar\Bookify\src\Static\nonfictional.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.real-educational{
    border-radius: 1rem;
    background-image: url("C:\Users\sadar\Bookify\src\Static\educational.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.real-magazine{
    border-radius: 1rem;
    background-image: url("C:\Users\sadar\Bookify\src\Static\magazine.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;

}

.mainhome-footer{
    height:50vh;
    width:100vw;
    background-color: brown;
    margin-top: 3rem;
}

.types-img{
    overflow: hidden;
    background-image: url("C:\Users\sadar\Bookify\src\Static\165944.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.types-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.signout-btn{
    font-size: 1.1rem;
    border: none;
}

.signout-div{
    background-color: #101116;
    color:white;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.signout-div button{
    font-size: 1.1rem;
    border: none;
    height:100%;
    width:100%;
    border-radius: 0.5rem;
    color:white;
    background-color: #101116;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

}

.signout-div button:hover{
    background:linear-gradient(90deg,#DC98D0,#CC1C74,#8C0E44);
    color:white;
}

.signout-div:hover{
    background-color: black;
    color: white;
}

.sellbookdiv{
    height: calc(100vh - 60px);
    width: 90vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.sellbookdiv form{
    height:80%;
    width:50%;
    background-color: #101116;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid white;
}

.sellbookdiv form div input{
    padding-left: 1rem;
    height:2rem;
    width:70%;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: none;
    border: 1px solid black;
    margin-top: 0.5rem;
}

.sellbookdiv form div select{
    padding-left: 1rem;
    height:2rem;
    width:70%;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: none;
    border: 1px solid black;
    margin-top: 0.5rem;
}

.sellbookdiv form div{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    width: 100%;
}

.sellbookdiv button{
    height:2rem;
    width:6rem;
    border-radius: 0.3rem;
    border: none;
    background-color: green;
    color:white;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    position: relative;
    left:12rem;
}

.sellbookdiv button:hover{
    transform: scale(1.1);
}

.bestsellers{
    height:40vh;
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.best-container{
    height:70%;
    width:60%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
}

.best-container div{
    margin: 1rem;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    height:100%;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 3.5px white;
}

.best-container div:nth-child(1){
    background: url("C:\Users\sadar\Bookify\src\Static\educational.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip:padding-box;
}

.best-container div:nth-child(2){
    background: url("C:\Users\sadar\Bookify\src\Static\magazine.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip:padding-box;
}

.best-container div:nth-child(3){
    background: url("C:\Users\sadar\Bookify\src\Static\nonfictional.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip:padding-box;
}

.best-container div:nth-child(4){
    background: url("C:\Users\sadar\Bookify\src\Static\open-book.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip:padding-box;
}

.best-container div:nth-child(5){
    background: url("C:\Users\sadar\Bookify\src\Static\fictional.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip:padding-box;
}

.best-container div:nth-child(6){
    background: url("C:\Users\sadar\Bookify\src\Static\dark-gloomy-books-pages_1084x668.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-clip:padding-box;
}



.best-container div:hover{
    transform: scale(1.2);
    flex-grow: 3;
}




